[defaults]
inventory = inventory.ini               # Path to your inventory file
remote_user = jecinta                   # The admin username you set in Terraform
private_key_file = ~/.ssh/reactAppKey   # Path to your private key on your local machine
host_key_checking = False               # Disable strict host key checking for convenience
retry_files_enabled = False             # Don’t generate retry files
roles_path = roles                      # Where Ansible should look for roles
